<div class="form-container well">
<%= form_for @list do |f| %>

  <div class="form-group">
    <%= f.label :title, "標題" %>
    <%= f.text_field :title, class: "form-control col-sm-4" %>
  </div>

  <div class="form-group">
    <%= f.label :date, "到期日" %>
    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "備註" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class = "button">
    <%= f.submit %>
    <%= link_to '回到上一頁', :back, class: "btn btn-sm btn-default" %>
  </div>
<% end %>

<% if @list.errors.present? %>
  <ul>
    <% @list.errors.each do |error, message| %>
      <li> <%= "#{error.capitalize} #{message}" %></li>
    <% end %>
  </ul>
<% end %>
