<!DOCTYPE html>
<html>
  <head>
    <title>My To Do List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      *{
        box-sizing: border-box;
      }

    </style>
  </head>

  <body>
    <p><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
